.container {
    width: 100%;
    height: 100%;
}

.cart-container {
    width: 85%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    border: 2px solid rgb(183, 183, 183);
    margin: auto;
}

.cart-item {
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black ;
    padding: 15px;
    margin: 10px;
}

.cart-img-item-container{
    width: 100px;
    height: 100px;
}

.cart-img-item-container img{
    width: 100%;
    height: 100%;
}

.row-1, .row-2, .row-3 {
    display: flex;
    flex-direction: column;
}

.purchase-btn {
    width: 200px;
}

.empty-cart-btn{
    display: block;
	width: 100%;
	padding: 10px;
	border: 1px solid #fa0202;
	border-radius: 5px;
	color: #ff0000;
	font-size: 16px;
	cursor: pointer;
	margin-bottom: 10px;
}

.empty-cart-btn:hover{
	background-color: #e2e2e2;
	border: 1px solid #ff0000;
	font-size: 16px;
}