<div class="main-login">
    <div class="login-container">
        <div class="img-login-container">
            <img class="img-login" src="https://www.freeiconspng.com/thumbs/error-icon/error-icon-4.png" alt="error-logo">
        </div>
        <h2>ERROR</h2>
        <span class="span-login">{{error}}</span>

        <button class="back-btn" onclick="history.go(-1)">Volver</button>
    </div>
</div>


