<div class="main-login">
    <div class="login-container">
        <div class="img-login-container">
            <img class="img-login" src="https://mlxfubippk1s.i.optimole.com/w:auto/h:auto/q:mauto/https://new.furfiesta.com/storage/2021/10/194ca5b354c52758e3bf5e978a0bf5726e42e781.png" alt="aq-logo">
        </div>
        <h2>Recuperar contraseña</h2>
        <form action='/api/sessions/changePassword' method='post' class="login-form" id="form"> 
            <label for="pass1">Ingrese nueva contraseña:</label>
            <input type="password" name="pass1" id="pass1" required>

            <label for="pass2">Reingrese nueva contraseña:</label>
            <input type="password" name="pass2" id="pass2" required>

            <button type="submit" id="recoveryBtn">Recuperar</button>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src='/js/resetPass.js'></script>


