<div class="main-login">
    <div class="login-container">
        <div class="img-login-container">
            <img class="img-login" src="https://mlxfubippk1s.i.optimole.com/w:auto/h:auto/q:mauto/https://new.furfiesta.com/storage/2021/10/194ca5b354c52758e3bf5e978a0bf5726e42e781.png" alt="aq-logo">
        </div>
        <h2>Recuperar contraseña</h2>
        <form action='/api/sessions/resetPassword' method='POST' class="login-form">
            <label for="email">Ingrese mail de recuperación:</label>
            <input type="text" name="email" id="email" required>

            <button type="submit">Recuperar</button>
        </form>
    </div>
</div>
