<div class="main-login">
    <div class="login-container">
        <div class="img-login-container">
            <img class="img-login" src="https://www.freeiconspng.com/uploads/ok-icon-success-19.png" alt="success-logo">
        </div>
        <h2>COMPLETADO</h2>
        <span class="span-login">{{msg}}</span>

        <button class="back-btn" onclick="location.href='/views/'">Ir a la página principal</button>
    </div>
</div>


